/* Colors and Fonts */

body {
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #DD5555;
  font-size: 22px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-weight: 300;
  text-align: justify;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #003366;
  text-decoration: none;
}

/* First simple components */

table {
  font-size: 15px;
  line-height: 1.6em;
}

.text-center {
  text-align: center;
}

.container{
  width: 90%;
  margin: 30px auto;
}

.card{
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i {
  font-size: 20px;
}

.image-circle {
  border-radius: 50%;
}

.btn-red{
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-red:hover{
  background-color: #C61414;
  color: white;
}

#img-profile {
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}

#movies {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#movies img {
  width: 100px;
}

#movies td{
  padding: 10px;
}

#sidebar {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 120px;
  text-align: center;
}

#page-content {
  margin-left: 120px;
}

#content{
  margin-left: 120px;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
  margin-top:50px;
  margin-bottom: 50px;
}

#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color:#788188;
}

#sidebar a:hover {
  color: white;
}

@media (max-width: 768px) {
  #page-content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
}


